
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    z-index: 9999;
}

.autocomplete-suggestion {
    padding: 5px 5px;
    white-space: nowrap;
    font-size: 13px;
    z-index: 9999;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #3399FF;
    z-index: 9999;
}

.popover-title {
    text-align: left;
    font-size: 10px;
}

.custom-popover li {
    border: none !important;
    text-align: left;
    font-size: 10px;
    width: 100%;
    word-wrap: break-word;

}

::-ms-clear {
    display: none;
}

.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}


body .modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
}

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

.table td.bigText {
    max-width: 300px;
}

.table td.bigText {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: red;
}


nav > .nav.nav-tabs {

    border: none;
    color: #fff;
    background: #272e38;
    border-radius: 0;

}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color: #fff;
    background: #272e38;
    border-radius: 0;
}

nav > div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #386087;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid #386087;
    border-bottom: 5px solid #386087;
    padding: 30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
    border: none;
    background: #386087;
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.error {
   color: red;
}